<div class="container" style="margin-top: 15px">
    <div class="row span6 offset3">

      <form class="form-horizontal">
        <legend>ทดสอบการทำงาน Directive</legend>
        <fieldset>
          <div class="control-group">
            <label class="control-label">Email : </label>
            <div class="controls">
              <input type="text" value="{{userEmail}}" ng-model="userEmail" placeholder="Username">
            </div>
          </div>
          <div class="control-group">
            <label class="control-label">Password : </label>
            <div class="controls">
              <input type="password" value="{{pass_word}}" placeholder="Password">
            </div>
          </div>
          <div class="control-group">
            <div class="controls">
              <label class="checkbox">
                <input type="checkbox" ng-model="checkValue" > Remember me
                <!-- <input type="checkbox" ng-model="checkValue" ng-checked="{{checkValue}}"> Remember me -->
              </label>
              <button type="submit" ng-click="onDelete(userEmail)" class="btn">Sign in</button>
            </div>
          </div>
        </fieldset>
    </form>

  </div>
</div>